<!-- 
<div >
  <div style="padding-top: 10px;" *ngFor="let p of pictureCards">
    <app-picture-card [pictureCard]="p"></app-picture-card>
  </div>
  
</div>
   -->
<div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title style="padding-top: 6px;"> Pictures</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <div style="width:86%; padding-top:20px;padding-left:20px; ">
      <img mat-card-image src="../../assets//images/headerPicture.png" alt="">
    </div>
    <mat-card-actions>
      <button mat-button (click)="navigatePicture()">VIEW</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title style="padding-top: 6px;">Furniture</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <div style="width:86%; padding-top:20px;padding-left:20px; ">
      <img mat-card-image src="../../assets//images/headerFurniture.png" alt="">
    </div>
    <mat-card-actions>
      <button mat-button (click)="navigateFurniture()">VIEW</button>
    </mat-card-actions>
  </mat-card>
</div>